html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("assignment2_assets/images/background.png");
  background-size: cover;
}
